body {
  margin: 20px 30px;
  padding: 0;
  background-color: #ecf0f1;
  color: #222;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

header {
  h1 {
    margin-left: 10px;
    font-size: 3em;
  }
}

a {
  color: black;
  text-decoration: none;
}

.pictures {
  .picture {
    margin: 5px;
    border-radius: 20px;
  }
}

.hide {
  display: none;
}
