body {
  font-family: menlo,arial,helvetica,sans-serif;
  margin: 20px 30px;
  padding: 0;
}

header {
  h1 {
    margin-left: 10px;
    font-size: 3em;
    text-shadow: #ccc 1px 1px 0px, #ccc 0px 0px 10px, #ccc 0px 0px 10px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.pictures {
  .picture {
    margin: 10px;
    border-radius: 5px;
    box-shadow: #333 0px 0px 6px;
  }
}
